html {
    scroll-behavior: smooth;
}

section {
    padding-top: 4rem;
}

section:not(:first-child) {
    margin-bottom: 50rem;
}

section:first-child {
    margin-bottom: -3rem;
}

pre {
    display: none;
}

#up {
    bottom: 20px;
    right: 20px;
}

#up > b {
    top: 0.1rem;
}
